<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<!-- Nome da Aplicação -->
	<display-name>Sorveteria</display-name>
	<!-- Welcome page -->
	<welcome-file-list>
		<welcome-file>pages/Principal.xhtml</welcome-file>
	</welcome-file-list>
	<!-- Estágio do Projeto -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
		<!-- Configuração jsf -->
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>br.com.felipe.sorveteria.util.HibernateContext</listener-class>
	</listener>

	<!-- Tema do PrimeFaces -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>start</param-value>
	</context-param>
</web-app>